version: '3.8'

services:
    nginx:
        image: nginx:alpine
        container_name: nginx_gestor
        ports:
            - '${APP_PORT:-8077}:80'
            - '${APP_PORT_SSL:-5445}:443'
        volumes:
            - .:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./docker/ssl:/etc/nginx/ssl
        depends_on:
            - php
            - node
        networks:
            - laravel
        restart: always

    php:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: php_gestor
        restart: always
        working_dir: /var/www/html
        volumes:
            - .:/var/www/html
            - vendor:/var/www/html/vendor
            - ./storage:/var/www/html/storage
            - ./bootstrap/cache:/var/www/html/bootstrap/cache
        networks:
            - laravel
        environment:
            - APP_ENV=${APP_ENV}
            - APP_DEBUG=${APP_DEBUG}
            - APP_KEY=${APP_KEY}
        command: >
            sh -lc "
            git config --global --add safe.directory /var/www/html &&
            composer install --no-interaction --prefer-dist &&
            chown -R www-data:www-data /var/www/html/storage /var/www/html/bootstrap/cache &&
            chmod -R 775 /var/www/html/storage /var/www/html/bootstrap/cache &&
            php-fpm
            "

    db:
        image: mysql:8.0
        container_name: mysql_gestor
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
        ports:
            - "3366:3306"
        volumes:
            - db_data:/var/lib/mysql
        restart: always
        networks:
            - laravel

    node:
        image: node:22-alpine
        container_name: node_gestor
        working_dir: /var/www/html
        volumes:
            - .:/var/www/html:delegated
            - node_modules:/var/www/html/node_modules
        environment:
            - APP_ENV=${APP_ENV}
        command: >
            sh -lc "
            echo 'El valor de APP_ENV es: ${APP_ENV}' &&
            npm install &&
            if [ '${APP_ENV}' = 'production' ]; then
              npm run build;
            else
              npm run dev;
            fi
            "
        networks:
            - laravel
        restart: always

networks:
    laravel:

volumes:
    vendor:
        driver: local
    node_modules:
        driver: local
    db_data:
        driver: local

